.card-list {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}

.spinner {
  width: 256px;
  margin: 50px auto;
}

@media screen and (max-width: 899px) {
  .card-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 599px) {
  .card-list {
    grid-template-columns: 1fr 1fr;
  }
}
