.header {
  width: 80%;
  height: 120px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-options {
  width: 230px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* cursor: pointer; */
}

.sign-in {
  background-color: #fd2525;
  border-radius: 4px;
  border: 1px solid white;
}

.header-app-title a {
  color: #fff049;
  font-size: 3em;
  cursor: pointer;
}

.nav-options a,
.nav-options button {
  color: #ffffff;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
}

.nav-options .sign-in:hover,
.nav-options button:hover {
  background-color: #bc1212;
}

i {
  padding-left: 5px;
}
.user-info {
  width: 80%;
  margin: 10px auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: -40px;
}

.avatar {
  width: 30px;
  height: 30px;
  background-size: contain;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
  /* vertical-align: middle; */
  /* display: flex;
  justify-self: end; */
}

@media screen and (max-width: 599px) {
  .header-app-title {
    display: none;
  }

  .header {
    justify-content: center;
  }
}
