.details {
  position: relative;
  height: 90px;
  padding-top: 5px;
}

.details p {
  position: absolute;
  margin: 5px;
  bottom: 0;
}

.details h3 {
  margin: 0px 0px 0px 5px;
  font-size: 14px;
  width: calc(100% - 40px);
}
