.movie-card {
  background-color: #336699;
  display: flex;
  flex-direction: column;
  border: 1px solid #224466;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  /* backface-visibility: hidden; */
  --width: calc(100% - 60px);
}

.movie-card:hover img {
  transform: scalex(1.1);
  transition-property: transform;
  transition-duration: 4.5s;
}

.movie-card:hover {
  background-color: #224466;
  border-color: #112233;
}

img {
  width: 100%;
}

.image-container {
  height: var(--width);
  overflow: hidden;
}

