.details {
  position: relative;
  height: 90px;
  padding-top: 5px;
}

.rating {
  border: 1px solid yellow;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  position: absolute;
  right: 5px;
  top: 0px;
}

.details p {
  position: absolute;
  margin: 5px;
  bottom: 0;
}

.details .rating p {
  font-weight: bold;
  color: red;
  text-align: center;
  margin: auto;
  width: 30px;
  line-height: 30px;
}

.details h3 {
  margin: 0px 0px 0px 5px;
  font-size: 14px;
  width: calc(100% - 40px);
}
