.movie-details-container {
  position: relative;
  display: grid;
  grid-template-columns: 400px 900px;
  justify-content: center;
}

.movie-details h2 {
  text-align: center;
}

.movie-details {
  height: 600px;
  background-color: rgba(60, 30, 30, 0.65);
  margin-bottom: 40px;
  position: relative;
}

.movie-details .rating {
  top: 20px;
  right: 20px;
}

.movie-details-footer {
  width: 100%;
  height: 100px;
  background-color: #180808;
  text-align: center;
  line-height: 100px;
  font-size: 30px;
}

.movie-details-footer span {
  margin: 25px;
}

.genre {
  background-color: #fff049;
  padding: 0 5px;
  font-weight: bold;
  color: black;
  border-radius: 2px;
  display: inline-block;
  line-height: 1.5rem;
  height: 1.5rem;
}

@media screen and (max-width: 1199px) {
  .movie-details-container {
    grid-template-columns: 350px 700px;
  }

  .movie-details-container img {
    width: 350px;
  }

  .movie-details {
    height: 525px;
  }
}

@media screen and (max-width: 899px) {
  .movie-details-container {
    display: block;
    margin: 0 auto;
  }

  .movie-details-container img {
    width: 0px;
  }

  .movie-details {
    height: 420px;
  }

  /* .movie-details .rating {
    top: 50px;
    right: 20px;
  } */
}
